name: Simple Pipeline Trigger

on:
  push:
    branches:
      - main

jobs:
  trigger-pipeline:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Pipeline Trigger Message
      run: echo "Pipeline triggered. Execute processing script manually in Cloud Shell."
